a {
  /*color: #e4f1de;*/
  text-decoration: none;
  letter-spacing: 4PX;
  word-spacing: 6px;
}

a {
  color: #e4f1de;
  /*text-decoration: none;*/
  /*position: relative;*/
}

h1 {
  text-align: center;
  font-size: 3.9vw;
  font-size: 3.9vh;
}

a:focus, a:hover {
  color: #9cff00;
  text-decoration-line: none;
}

b, strong {
  display: block;
  text-align: initial;
  align-content: center;
}

