a {
  color:#fff;
  text-decoration:none;
  letter-spacing:4PX;
}

img {
  vertical-align:middle;
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

P {
  letter-spacing:1.5PX;
}

col-lg-3 col-md-2 col-sm-1 {
  text-align:center;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

container {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.row {
  text-align:center;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

img-responsive {
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.show.visible-xs-block.visible-sm-block.visible-md-block.visible-lg-block.visible-xs-inline.visible-sm-inline.visible-md-inline.visible-lg-inline.visible-md-inline-block.visible-lg-inline-block {
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

.col-md-12 {
  position:relative;
}

.row.visible-lg-inline-block {
  align-items:center;
}

.img-responsive {
  margin-left:auto;
  margin-right:auto;
}

a href {
  color:#FFF;
}

