a {
  color:#fff;
  text-decoration:none;
  letter-spacing:4PX;
}

img {
  vertical-align:middle;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

P {
  letter-spacing:1.5PX;
}

col-lg-3 col-md-2 col-sm-1 {
  text-align:center;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

container {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

row {
  text-align:center;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

img-responsive {
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

