header {
  margin:50px 0 20px;
  text-align:center;
  padding:0 10px;
}

header h1 {
  font-weight:bold;
  margin-bottom:12px;
  font-size:28px;
  margin-top:30px;
}

.content {
  max-width:500px;
  margin:0 auto;
}

.content h2 {
  font-size:18px;
  font-weight:bold;
  margin:40px 0 30px;
}

.content figure {
  text-align:center;
  margin:20px 0;
}

.content figcaption {
  font-size:12px;
  padding-top:10px;
}

.content div.dropdown {
  margin:20px auto;
  width:100px;
}

.content blockquote p {
  font-size:14px;
}

img.center {
  display:block;
  margin:0 auto;
}

.thumbnail {
  position:relative;
}

.caption {
  /*position:absolute;*/
  top:45%;
  left:0;
  width:100%;
}

.caption {
  color:#ffffff;
}

#box-search {
  color:#FFF;
}

.div class="caption": {
  color:#FFF;
}

.container {
  position:relative;
  color:white;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

p {
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color:#fff;
}

link rel {
  color:#FFF;
}

a:focus, a:hover {
  color:#fff;
  /*text-decoration:underline;*/
}

a {
  color:#ffffff;
  text-decoration:none;
  /*position:absolute;*/
}

.bg-primary {
  position:relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  position:relative;
}

.h1, h1 {
  text-align:center;
}

